<% if (dinosaurs) { %>
    <marquee>Check out our cool dinosaurs</marquee>

    <div>
        <% dinosaurs.forEach(dinosaur=> { %>
            <div>
                <h1>
                    <%= dinosaur.name %>
                </h1>
                <img src="/assets/images/<%= dinosaur.image %>" alt="<%= dinosaur.name %>" />
                <p>
                    <%= dinosaur.description %>
                </p>
            </div>
            <% }); %>
    </div>
    <% } %>