<footer>
    <p>&copy; 2021 - Mijn eerste EJS applicatie</p>
    <p>Deze website is gemaakt met behulp van EJS</p>
    <p>Deze website is gemaakt door: <a href="https://www.mijnsite.nl">MijnSite.nl</a></p>
</footer>